body {
    background-color: black;
    color: white; 
    font-family: "Times New Roman", Times, serif;
}

.busca {
    font-weight: bold;
    width: 100%; 
    max-width: 400px; 
    margin: 20px 0; 
    display: flex;
    align-items: center;
    gap: 10px; 
    padding: 10px;
    background-color: #333; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para destaque */
    float: left; /* Faz a busca flutuar para a esquerda */
}

.busca h2 {
    margin: 0;
    text-align: left; /* Alinha o título à esquerda */
}

.busca input[type="search"] {
    flex: 1;
    padding: 8px;
    border: none;
    border-radius: 4px;
}

.busca button {
    background-color: transparent; /* Fundo transparente para o botão */
    border: none; /* Remove a borda */
    cursor: pointer; 
    padding: 8px; 
}

.busca button:hover {
    background-color: #777; /* Altera a cor de fundo ao passar o mouse */
}

.menu-conteudo {
    width: 50%; 
    margin: 0; /* Remove a margem */
    padding: 20px;
    background-color: #1a75ff; /* Fundo azul */
    color: white; /* Texto branco para contraste */
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    float: left; /* Faz o menu flutuar para a esquerda */
}

.menu-conteudo h2 {
    margin-bottom: 20px;
    font-size: 1.5em;
    text-align: left; 
}

.menu-conteudo ul {
    padding: 0;
    margin: 0;
}

.menu-conteudo li {
    background-color: #003d99; 
    color: white;
    margin-bottom: 8px;
    padding: 10px;
    list-style: none;
    border-radius: 6px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15); 
    transition: transform 0.3s ease, background-color 0.3s ease; 
}

.menu-conteudo li:hover {
    background-color: #0052cc; 
    transform: translateY(-3px); 
}

.menu-conteudo li a {
    text-decoration: none;
    color: inherit; 
    display: block;
}

.menu-conteudo li ul {
    display: none; 
}

.menu-conteudo li:hover ul {
    display: block; 
}

.menu-conteudo ul ul li {
    background-color: #3399ff; 
    padding: 8px;
    border-radius: 4px;
    margin: 5px 0;
}
